div.date_range {
	display:inline-block;
	min-width: 160px;
}

div.date_field {
	display:inline-block;
	height: 48%;

}

div.left_date_field {
	border-right: 1px solid black;
	padding-right: 3px;
	margin-right: 0;
	width: 47%;
}

div.right_date_field {

	padding-left: 3px;
	width: 53%;
}

div.top_date_field {
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}

div.bottom_date_field {
	padding-top: 5px;
}